#coul_navbar 
{
    background-color: rgba(69, 65, 59, 0.4);
}

#article{
    left: 100%;
    background-color: rgb(193, 22, 22);
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style pour le popup */
.popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}